@media only screen and (min-width: 576px) and (max-width: 768px){
 /*  header 1st projcet file */


header {
    width: 108%;
    background-color: black;
}
.header-info {
    margin-right: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}
.header-text {   
    padding-top: -10px;
    margin-left: 10px;
}
.header-text h1 {
    margin-top: -180px;
    font-size: 60px;
}
    .header-img {
        margin-top: -175px;
        margin-left: -20px;
        align-items: center;
        width: 10%;
        height: 30%;
}


    /* main 2nd projcet file */
main {
    margin: 100px;
}
.main-info {
    display: grid;
    grid-template-columns: 1fr ;
}
.backgraount-img-1 {
    padding: 50px 50px 0px 50px;
    margin-left: -12px; 
}




/* Delivery-info 3nd projcet page */
.Delivery-info {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 50px;
}


/* Hot-Deal-info 4th projcet page */
.Hot-Deal-info {
    display: grid;
    grid-template-columns: 1fr;
}
.Hot-Deal-text {
    padding: 10px 0px;
}



/* Instagram-info 5th procjet page */


    .Instagram-img-info {
        margin-right: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 122%;
    }
    .Instagram-img-info {
        width: 100%;
    }
    .Instagram-img-info img {
        width: 100%;
    }
    


    
/* Get The Latest Deals 6th projcet page */



/* FlowerShop 7th projcet page */

.FlowerShop {
   margin: 100px;
}



/* youtub 8th projcet page */
.youtub {
    
    padding: 100px;
 margin-left: -20px;
}
.youtub h1 {
    padding: 50px;
}
}



@media only screen and (max-width: 576px) {
     /*  header 1st projcet file */
 
header {
    width: 300%;
}
.header-info {
    margin-right: 100px;
    text-align: center;
    background-color: rgb(231, 211, 185);
    display: grid;
    grid-template-columns: 1fr;
}
.header-text {   
    margin: 50px 10px;
}
.header-text h1 {
    font-size: 60px;
}
    .header-img {
        margin-left: -20px;
        align-items: center;
        width: 10%;
        height: 30%;
}


  /* main 2nd projcet file */
  main {
    margin: 80px;
}
.main-info {
    display: grid;
    grid-template-columns: 1fr ;
}
.backgraount-img-1 {
    padding: 50px 50px 0px 50px;
    margin-left: -12px; 
}

 }
